In [2]:
import numpy as np
import pandas as pd
import json

In [41]:
data = pd.read_csv("../../data/general/covidtracking_daily.csv")

In [47]:
data.loc[:,"date"] = pd.to_datetime(data.date, format="%Y%m%d")

In [48]:
data

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,2020-04-13,AK,277.0,7553.0,NaN,NaN,32.0,NaN,NaN,NaN,...,32.0,7830.0,7830.0,7830.0,2,0.0,1.0,-213.0,5.0,-208.0
1,2020-04-13,AL,3734.0,25448.0,NaN,NaN,457.0,NaN,189.0,NaN,...,457.0,29182.0,29182.0,29182.0,1,6.0,20.0,7390.0,209.0,7599.0
2,2020-04-13,AR,1410.0,19394.0,NaN,74.0,130.0,NaN,43.0,28.0,...,130.0,20804.0,20804.0,20804.0,5,3.0,0.0,952.0,130.0,1082.0
3,2020-04-13,AS,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,3.0,3.0,60,0.0,0.0,0.0,0.0,0.0
4,2020-04-13,AZ,3702.0,39645.0,NaN,525.0,NaN,286.0,NaN,195.0,...,NaN,43347.0,43347.0,43347.0,4,7.0,0.0,1075.0,163.0,1238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,2020-03-02,WA,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.0,34.0,34.0,53,3.0,0.0,0.0,4.0,4.0
2164,2020-03-01,RI,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,1.0,44,NaN,NaN,NaN,NaN,NaN
2165,2020-03-01,WA,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,30.0,30.0,53,3.0,0.0,0.0,12.0,12.0
2166,2020-02-29,WA,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.0,18.0,18.0,53,1.0,0.0,0.0,9.0,9.0
2167,2020-02-28,WA,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,9.0,9.0,53,NaN,NaN,NaN,NaN,NaN

In [49]:
data.columns

Index(['date', 'state', 'positive', 'negative', 'pending',
       'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently',
       'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative',
       'recovered', 'hash', 'dateChecked', 'death', 'hospitalized', 'total',
       'totalTestResults', 'posNeg', 'fips', 'deathIncrease',
       'hospitalizedIncrease', 'negativeIncrease', 'positiveIncrease',
       'totalTestResultsIncrease'],
      dtype='object')

In [50]:
data.loc[(data["state"] == "NY") & ~pd.isnull(data["hospitalizedCurrently"]), ["date", "hospitalizedCurrently", "inIcuCurrently", "hospitalizedIncrease"]]

           date  hospitalizedCurrently  inIcuCurrently  hospitalizedIncrease
37   2020-04-13                18825.0          5156.0                 118.0
93   2020-04-12                18707.0          5198.0                1915.0
149  2020-04-11                18654.0          5009.0                1861.0
205  2020-04-10                18569.0          4908.0                2242.0
261  2020-04-09                18279.0          4925.0                2144.0
317  2020-04-08                18079.0          4593.0                2349.0
373  2020-04-07                17493.0          4593.0                1880.0
429  2020-04-06                16837.0          4504.0                2111.0
485  2020-04-05                16479.0          4376.0                1709.0
541  2020-04-04                15905.0          4126.0                2687.0
597  2020-04-03                14810.0          3731.0                2879.0
653  2020-04-02                13383.0          3396.0                2449.0
709  2020-04-01                12226.0          3022.0                2464.0
765  2020-03-31                10929.0          2710.0                2183.0
821  2020-03-30                 9517.0          2352.0                1646.0
877  2020-03-29                 8503.0          2037.0                2021.0
933  2020-03-28                 7328.0          1755.0                1528.0
989  2020-03-27                 6481.0          1583.0                1682.0
1045 2020-03-26                 5327.0          1290.0                3039.0

In [51]:
data.loc[(data["state"] == "NJ") & ~pd.isnull(data["hospitalizedCurrently"]), ["date", "hospitalizedCurrently", "inIcuCurrently", "hospitalizedIncrease"]]

           date  hospitalizedCurrently  inIcuCurrently  hospitalizedIncrease
34   2020-04-13                 7781.0          1886.0                   0.0
90   2020-04-12                 7604.0          1914.0                   0.0
146  2020-04-11                 7618.0          1746.0                   0.0
202  2020-04-10                 7570.0          1679.0                   0.0
258  2020-04-09                 7363.0          1523.0                   0.0
314  2020-04-08                 7026.0          1617.0                   0.0
370  2020-04-07                 7017.0          1651.0                   0.0
426  2020-04-06                 6390.0             NaN                   0.0
482  2020-04-05                 4000.0             NaN                   0.0
538  2020-04-04                 4000.0             NaN                   0.0
594  2020-04-03                 3016.0             NaN                   0.0
650  2020-04-02                 2000.0             NaN                   0.0
706  2020-04-01                 2000.0             NaN                   0.0
762  2020-03-31                 2000.0             NaN                   0.0
818  2020-03-30                 2000.0             NaN                   0.0
874  2020-03-29                 2000.0             NaN                   0.0
930  2020-03-28                 2000.0             NaN                   0.0
986  2020-03-27                 2000.0             NaN                   0.0
1042 2020-03-26                 1080.0             NaN                   0.0