In [27]:
import pandas as pd
import os
import numpy as np
from collections import defaultdict, namedtuple

pd.set_option('display.max_columns', None)

In [14]:
occ_codes = ['29-1141'] # 29-1141 Registered Nurses
datadir = '../../data/nurses'

In [8]:
states_df = pd.read_excel(os.path.join(datadir, 'oesm19st/state_M2019_dl.xlsx'))
states_df = states_df[states_df.occ_code.isin(occ_codes)] 
states_df.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,pct_total,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly
280,1,Alabama,2,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,49190,1.5,24.919,1.23,NaN,28.96,60230,0.7,20.84,24.02,28.27,33.4,38.26,43350,49960,58800,69480,79590,NaN,NaN
945,2,Alaska,2,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,6210,11.4,19.584,0.96,NaN,43.51,90500,1.2,29.36,35,43.54,52.35,58.85,61060,72790,90550,108880,122400,NaN,NaN
1564,4,Arizona,2,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,54590,3.6,19.04,0.94,NaN,37.66,78330,0.9,26.93,31.71,36.93,43.62,48.97,56020,65950,76820,90730,101870,NaN,NaN
2265,5,Arkansas,2,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,25210,3.7,20.705,1.02,NaN,29.49,61330,1.3,20.69,24.78,29.01,34.21,38.39,43030,51530,60340,71160,79850,NaN,NaN
2987,6,California,2,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,302770,2.1,17.418,0.86,NaN,54.44,113240,0.9,34.24,42.59,53.18,66.22,78.76,71230,88590,110620,137730,163830,NaN,NaN

In [9]:
nat_df = pd.read_excel(os.path.join(datadir, 'oesm19nat/national_M2019_dl.xlsx'))
nat_df = nat_df[nat_df.occ_code.isin(occ_codes)] 
nat_df.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,pct_total,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly
509,99,U.S.,1,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,2982280,0.5,NaN,NaN,NaN,37.24,77460,0.2,25.04,28.9,35.24,43.64,53.47,52080,60110,73300,90760,111220,NaN,NaN

In [154]:
met_area_df = pd.read_excel(os.path.join(datadir, 'oesm19ma/MSA_M2019_dl.xlsx'))
met_area_df = met_area_df[met_area_df.occ_code.isin(occ_codes)] .astype({'area': str})
met_area_df.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,pct_total,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly
103,10180,"Abilene, TX",4,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,1630,12.1,24.463,1.2,NaN,31.8,66140,2,25.23,27.54,31.1,36.03,40.92,52490,57270,64700,74950,85120,NaN,NaN
356,10380,"Aguadilla-Isabela, PR",4,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,650,5.2,14.236,0.7,NaN,14.03,29170,2,10.46,12.52,13.89,15.37,18.27,21760,26040,28890,31960,37990,NaN,NaN
673,10420,"Akron, OH",4,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,8490,12.8,25.769,1.27,NaN,32.57,67740,1.3,25.55,28.35,32.7,36.67,39.19,53150,58970,68020,76270,81510,NaN,NaN
1296,10540,"Albany, OR",4,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,590,43.5,13.069,0.64,NaN,38.7,80490,4.8,32.48,34.35,37.47,40.68,50.25,67560,71460,77940,84610,104530,NaN,NaN
1720,10580,"Albany-Schenectady-Troy, NY",4,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,10010,2.4,22.109,1.09,NaN,34.54,71830,1,25.85,29.05,34.19,39.38,46.08,53770,60420,71110,81900,95850,NaN,NaN

In [11]:
nonmet_area_df = pd.read_excel(os.path.join(datadir, 'oesm19ma/BOS_M2019_dl.xlsx'))
nonmet_area_df = nonmet_area_df[nonmet_area_df.occ_code.isin(occ_codes)] 
nonmet_area_df.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,pct_total,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly
66,100001,Northwest Alabama nonmetropolitan area,6,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,1410,10.7,21.551,1.06,NaN,26.45,55020,2,19.84,22.17,25.97,29.66,34.57,41270,46120,54020,61700,71900,NaN,NaN
357,100002,Northeast Alabama nonmetropolitan area,6,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,2390,4.4,16.236,0.8,NaN,27.24,56660,0.9,20.13,22.84,27.02,30.97,36.14,41870,47510,56200,64410,75170,NaN,NaN
682,100003,Southwest Alabama nonmetropolitan area,6,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,1270,6.5,18.816,0.93,NaN,26.54,55210,1.6,20.36,22.62,26.36,29.8,32.94,42340,47050,54840,61990,68510,NaN,NaN
974,100004,Southeast Alabama nonmetropolitan area,6,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,1330,8,15.458,0.76,NaN,29.41,61170,2.6,21.04,24.54,28.35,32.89,39.46,43770,51040,58960,68410,82070,NaN,NaN
1332,200006,Alaska nonmetropolitan area,6,0,Cross-industry,cross-industry,1235,29-1141,Registered Nurses,detailed,1240,4.5,11.473,0.57,NaN,47.64,99090,1.9,34.14,39.44,45.76,53.48,60.8,71000,82030,95180,111240,126470,NaN,NaN

In [316]:
Fips = namedtuple('Fips', 'div county components')
geography_dir = '../../data/geography'

with open(os.path.join(geography_dir, '0312msa.txt'), 'rb') as f:
    lines = f.readlines()
lines = lines[11:-21]

In [317]:
def _validate(entry):
    return entry if len(entry) > 0 else None

In [318]:
fips = defaultdict(list)
for line in lines:
    line = line.decode('utf-8',errors='ignore').strip()
    if len(line) == 0: continue
    CBSA = _validate(line[:5].strip())
    line = line[8:]
    DIV = _validate(line[:5].strip())
    line = line[8:]
    County = _validate(line[:5].strip())
    Components = line[8:].strip()
    if County is None:
        key = CBSA
        fips[key] = {'div': [], 'county': [], 'components': []}
        continue
    fips[key]['div'].append(DIV)
    fips[key]['county'].append(County)
    fips[key]['components'].append(Components)

,code,county_code,div_code,county_name
0,10180,"[48059, 48253, 48441]","[None, None, None]","[Callahan County, TX, Jones County, TX, Taylor..."
1,10380,"[72003, 72005, 72011, 72071, 72081, 72099, 721...","[None, None, None, None, None, None, None, None]","[Aguada Municipio, PR, Aguadilla Municipio, PR..."
2,10420,"[39133, 39153]","[None, None]","[Portage County, OH, Summit County, OH]"
3,10500,"[13007, 13095, 13177, 13273, 13321]","[None, None, None, None, None]","[Baker County, GA, Dougherty County, GA, Lee C..."
4,10580,"[36001, 36083, 36091, 36093, 36095]","[None, None, None, None, None]","[Albany County, NY, Rensselaer County, NY, Sar..."

In [307]:
cbsa = pd.read_csv(os.path.join(geography_dir, 'cbsas.csv')).astype({'CBSA Code': str})#.loc[:, ['category', 'code', 'title']]
cbsa.columns = ['code', 'title', 'category']
cbsa.head()

    code         title      category
0  10100  Aberdeen, SD  Micropolitan
1  10140  Aberdeen, WA  Micropolitan
2  10180   Abilene, TX  Metropolitan
3  10220       Ada, OK  Micropolitan
4  10260  Adjuntas, PR  Micropolitan

In [325]:
df = pd.DataFrame(columns=['code', 'county_code', 'div_code', 'county_name'])
for i, (k, v) in enumerate(fips.items()):
    df.loc[i] = [k, v['county'], v['div'], v['components']]
df.head()

cbsa = pd.read_csv(os.path.join(geography_dir, 'cbsas.csv')).astype({'CBSA Code': str})
cbsa.columns = ['code', 'title', 'category']
cbsa = pd.merge(cbsa, df, on='code', how='outer')
cbsa = cbsa[cbsa.category == 'Metropolitan']
cbsa.columns = ['area', 'title', 'category', 'county_code', 'div_code', 'county_name']
cbsa.head()

,area,title,category,county_code,div_code,county_name
2,10180,"Abilene, TX",Metropolitan,"[48059, 48253, 48441]","[None, None, None]","[Callahan County, TX, Jones County, TX, Taylor..."
6,10380,"Aguadilla-Isabela, PR",Metropolitan,"[72003, 72005, 72011, 72071, 72081, 72099, 721...","[None, None, None, None, None, None, None, None]","[Aguada Municipio, PR, Aguadilla Municipio, PR..."
7,10420,"Akron, OH",Metropolitan,"[39133, 39153]","[None, None]","[Portage County, OH, Summit County, OH]"
9,10500,"Albany, GA",Metropolitan,"[13007, 13095, 13177, 13273, 13321]","[None, None, None, None, None]","[Baker County, GA, Dougherty County, GA, Lee C..."
10,10540,"Albany, OR",Metropolitan,NaN,NaN,NaN

In [326]:
met_area_df = pd.read_excel(os.path.join(datadir, 'oesm19ma/MSA_M2019_dl.xlsx'))
met_area_df = met_area_df[met_area_df.occ_code.isin(occ_codes)] .astype({'area': str})
met_area_df = pd.merge(met_area_df, cbsa, on='area', how='outer')
met_area_df.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,pct_total,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly,title,category,county_code,div_code,county_name
0,10180,"Abilene, TX",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,1630,12.1,24.463,1.2,NaN,31.8,66140,2,25.23,27.54,31.1,36.03,40.92,52490,57270,64700,74950,85120,NaN,NaN,"Abilene, TX",Metropolitan,"[48059, 48253, 48441]","[None, None, None]","[Callahan County, TX, Jones County, TX, Taylor..."
1,10380,"Aguadilla-Isabela, PR",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,650,5.2,14.236,0.7,NaN,14.03,29170,2,10.46,12.52,13.89,15.37,18.27,21760,26040,28890,31960,37990,NaN,NaN,"Aguadilla-Isabela, PR",Metropolitan,"[72003, 72005, 72011, 72071, 72081, 72099, 721...","[None, None, None, None, None, None, None, None]","[Aguada Municipio, PR, Aguadilla Municipio, PR..."
2,10420,"Akron, OH",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,8490,12.8,25.769,1.27,NaN,32.57,67740,1.3,25.55,28.35,32.7,36.67,39.19,53150,58970,68020,76270,81510,NaN,NaN,"Akron, OH",Metropolitan,"[39133, 39153]","[None, None]","[Portage County, OH, Summit County, OH]"
3,10540,"Albany, OR",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,590,43.5,13.069,0.64,NaN,38.7,80490,4.8,32.48,34.35,37.47,40.68,50.25,67560,71460,77940,84610,104530,NaN,NaN,"Albany, OR",Metropolitan,NaN,NaN,NaN
4,10580,"Albany-Schenectady-Troy, NY",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,10010,2.4,22.109,1.09,NaN,34.54,71830,1,25.85,29.05,34.19,39.38,46.08,53770,60420,71110,81900,95850,NaN,NaN,"Albany-Schenectady-Troy, NY",Metropolitan,"[36001, 36083, 36091, 36093, 36095]","[None, None, None, None, None]","[Albany County, NY, Rensselaer County, NY, Sar..."

In [327]:
populations = pd.read_excel(os.path.join(datadir, 'co-est2019-annres.xlsx'), skiprows=4, skipfooter=6)
populations.columns = ['Area', 'Census', 'Estimates Base', 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
populations['county'] = populations.apply(lambda x: x.Area.split(', ')[0].split(' County')[0][1:], axis=1)
populations['state'] = populations.apply(lambda x: x.Area.split(', ')[1], axis=1)
populations.head()

counties = pd.read_csv(os.path.join(geography_dir, 'county_codes.csv')).astype({'code': str})
counties.code = counties.apply(lambda x: '0' + x.code if len(x.code) < 5 else x.code, axis=1)
counties.columns = ['code', 'county', 'abbrev']
abbrevs = pd.read_csv(os.path.join(geography_dir, 'state_name.csv'))
abbrevs.columns = ['state', 'nickname', 'abbrev']
counties = pd.merge(counties, abbrevs, on='abbrev', how='outer')
counties.head()

populations = pd.merge(populations, counties, on=['county', 'state'], how='inner')
populations.head()

,Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,county,state,code,abbrev,nickname
0,".Autauga County, Alabama",54571,54597,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869,Autauga,Alabama,01001,AL,Ala.
1,".Baldwin County, Alabama",182265,182265,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234,Baldwin,Alabama,01003,AL,Ala.
2,".Barbour County, Alabama",27457,27455,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686,Barbour,Alabama,01005,AL,Ala.
3,".Bibb County, Alabama",22915,22915,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394,Bibb,Alabama,01007,AL,Ala.
4,".Blount County, Alabama",57322,57322,57376,57560,57580,57619,57526,57526,57494,57787,57771,57826,Blount,Alabama,01009,AL,Ala.

In [328]:
df = met_area_df
def get_populations(entry):
    if isinstance(entry, list):
        return [populations[populations.code == str(code)][2019].iat[0] for code in entry if str(code) in populations.code.tolist()]
    return np.nan

df['populations'] = df.apply(lambda x: get_populations(x.county_code), axis=1)
df.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,pct_total,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly,title,category,county_code,div_code,county_name,populations
0,10180,"Abilene, TX",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,1630,12.1,24.463,1.2,NaN,31.8,66140,2,25.23,27.54,31.1,36.03,40.92,52490,57270,64700,74950,85120,NaN,NaN,"Abilene, TX",Metropolitan,"[48059, 48253, 48441]","[None, None, None]","[Callahan County, TX, Jones County, TX, Taylor...","[13943, 20083, 138034]"
1,10380,"Aguadilla-Isabela, PR",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,650,5.2,14.236,0.7,NaN,14.03,29170,2,10.46,12.52,13.89,15.37,18.27,21760,26040,28890,31960,37990,NaN,NaN,"Aguadilla-Isabela, PR",Metropolitan,"[72003, 72005, 72011, 72071, 72081, 72099, 721...","[None, None, None, None, None, None, None, None]","[Aguada Municipio, PR, Aguadilla Municipio, PR...",[]
2,10420,"Akron, OH",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,8490,12.8,25.769,1.27,NaN,32.57,67740,1.3,25.55,28.35,32.7,36.67,39.19,53150,58970,68020,76270,81510,NaN,NaN,"Akron, OH",Metropolitan,"[39133, 39153]","[None, None]","[Portage County, OH, Summit County, OH]","[162466, 541013]"
3,10540,"Albany, OR",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,590,43.5,13.069,0.64,NaN,38.7,80490,4.8,32.48,34.35,37.47,40.68,50.25,67560,71460,77940,84610,104530,NaN,NaN,"Albany, OR",Metropolitan,NaN,NaN,NaN,NaN
4,10580,"Albany-Schenectady-Troy, NY",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,10010,2.4,22.109,1.09,NaN,34.54,71830,1,25.85,29.05,34.19,39.38,46.08,53770,60420,71110,81900,95850,NaN,NaN,"Albany-Schenectady-Troy, NY",Metropolitan,"[36001, 36083, 36091, 36093, 36095]","[None, None, None, None, None]","[Albany County, NY, Rensselaer County, NY, Sar...","[305506, 158714, 229863, 155299, 30999]"