In [1]:
import numpy as np
import pandas as pd
import json

In [3]:
forecast_data = pd.read_csv("../../data/forecasts/ihme_2020_04_12/forecast.csv")
state_list = pd.read_csv("../../data/geography/state_names.csv")

In [11]:
forecast_data = forecast_data[forecast_data.location_name.isin(state_list.State)]

In [12]:
forecast_data

,V1,location_name,date,allbed_mean,allbed_lower,allbed_upper,ICUbed_mean,ICUbed_lower,ICUbed_upper,InvVen_mean,...,newICU_upper,totdea_mean,totdea_lower,totdea_upper,bedover_mean,bedover_lower,bedover_upper,icuover_mean,icuover_lower,icuover_upper
0,1,Wyoming,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Wyoming,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Wyoming,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Wyoming,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Wyoming,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30310,211,Alabama,2020-07-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,351.046,126.0,976.325,0.0,0.0,0.0,0.0,0.0,0.0
30311,212,Alabama,2020-08-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,351.046,126.0,976.325,0.0,0.0,0.0,0.0,0.0,0.0
30312,213,Alabama,2020-08-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,351.046,126.0,976.325,0.0,0.0,0.0,0.0,0.0,0.0
30313,214,Alabama,2020-08-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,351.046,126.0,976.325,0.0,0.0,0.0,0.0,0.0,0.0
30314,215,Alabama,2020-08-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,351.046,126.0,976.325,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
forecast_data.columns

Index(['V1', 'location_name', 'date', 'allbed_mean', 'allbed_lower',
       'allbed_upper', 'ICUbed_mean', 'ICUbed_lower', 'ICUbed_upper',
       'InvVen_mean', 'InvVen_lower', 'InvVen_upper', 'deaths_mean',
       'deaths_lower', 'deaths_upper', 'admis_mean', 'admis_lower',
       'admis_upper', 'newICU_mean', 'newICU_lower', 'newICU_upper',
       'totdea_mean', 'totdea_lower', 'totdea_upper', 'bedover_mean',
       'bedover_lower', 'bedover_upper', 'icuover_mean', 'icuover_lower',
       'icuover_upper'],
      dtype='object')

In [24]:
forecast_data.loc[
    (forecast_data.location_name == "New York") & (forecast_data.date >= "2020-03-15") & (forecast_data.date < "2020-05-01"),
    ["date", "admis_mean", "allbed_mean", "ICUbed_mean", "InvVen_mean"]
]

             date  admis_mean  allbed_mean  ICUbed_mean  InvVen_mean
10392  2020-03-15     24.4800     126.9040      41.6685      41.0850
10393  2020-03-16     54.8685     176.9770      59.0540      58.3235
10394  2020-03-17    174.8145     342.7905     111.4365     109.8755
10395  2020-03-18    126.4110     452.6395     150.4670     148.5455
10396  2020-03-19    159.6375     603.3835     201.7750     199.0365
10397  2020-03-20    232.0905     811.7510     266.1645     260.8520
10398  2020-03-21    306.8990    1075.6375     363.6045     356.3630
10399  2020-03-22    436.2110    1478.3990     494.3295     484.7225
10400  2020-03-23    618.7240    2005.5625     648.2100     635.1100
10401  2020-03-24    726.8715    2581.0090     857.2315     839.5935
10402  2020-03-25    777.0795    3226.1175    1076.4970    1052.4040
10403  2020-03-26   1020.9835    4071.1885    1359.6630    1326.3890
10404  2020-03-27   1202.5945    5026.5730    1680.8450    1637.0275
10405  2020-03-28   1328.6505    6019.3460    2003.3835    1948.2445
10406  2020-03-29   1725.9220    7268.3225    2407.6335    2337.4375
10407  2020-03-30   1939.3295    8579.0940    2849.3565    2762.1730
10408  2020-03-31   1826.5215    9692.9260    3245.8525    3139.1255
10409  2020-04-01   1656.3725   10525.7575    3523.8075    3392.4280
10410  2020-04-02   2429.7260   11918.7500    3998.8650    3841.1165
10411  2020-04-03   2397.4650   13121.3435    4418.0395    4235.1855
10412  2020-04-04   2456.8555   14175.0445    4718.8140    4513.4775
10413  2020-04-05   2460.7690   14912.8465    4982.3430    4744.2835
10414  2020-04-06   2336.3875   15420.9620    5237.1630    4968.1505
10415  2020-04-07   2330.0600   16051.6750    5541.8065    5242.8765
10416  2020-04-08   2284.7950   16491.8720    5572.1590    5245.7420
10417  2020-04-09   2001.2360   16168.9110    5511.8800    5161.5080
10418  2020-04-10   1827.7065   15667.9725    5374.5200    5000.9545
10419  2020-04-11   1643.8090   14939.5695    5163.9280    4771.6975
10420  2020-04-12   1456.6150   14054.1130    4911.8135    4507.6870
10421  2020-04-13   1269.8525   13057.5410    4587.3760    4176.0190
10422  2020-04-14   1085.3915   11894.5595    4193.9280    3783.5170
10423  2020-04-15    913.3395   10668.6690    3819.4965    3416.4565
10424  2020-04-16    754.9570    9511.6855    3445.9920    3050.9785
10425  2020-04-17    614.6485    8379.3040    3085.9450    2699.5430
10426  2020-04-18    493.4840    7287.0230    2707.2695    2343.4915
10427  2020-04-19    386.2535    6257.7240    2351.1310    2011.6270
10428  2020-04-20    299.1015    5322.7205    2017.8665    1705.6955
10429  2020-04-21    229.7715    4498.8705    1711.4490    1428.6400
10430  2020-04-22    171.5685    3743.6730    1438.8245    1185.0315
10431  2020-04-23    126.3335    3091.0930    1193.4255     969.9065
10432  2020-04-24     91.4160    2529.7490     975.8005     782.6975
10433  2020-04-25     65.2530    2051.6685     793.3830     627.4805
10434  2020-04-26     45.7875    1656.9140     638.5290     497.8990
10435  2020-04-27     31.6625    1326.1240     508.6510     391.2230
10436  2020-04-28     21.8845    1049.4640     400.8415     304.0230
10437  2020-04-29     14.4415     829.2825     312.5855     234.1145
10438  2020-04-30      9.6705     651.6915     240.9565     178.2535